services:
  db:
    image: postgres:18.1-alpine3.23
    restart: always
    volumes:
      - "./sql:/docker-entrypoint-initdb.d"
    environment:
      - "POSTGRES_USER=docker"
      - "POSTGRES_PASSWORD=docker"
    ports:
      - "5432:5432"
    command: ["postgres", "-c", "log_statement=all"]

  zio-rite-of-passage:
    image: cheleb/zio-rite-of-passage:latest
    environment:
      - DATABASE_JDBC_URL=jdbc:postgresql://db:5432/reviewboard