<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <import class="ch.qos.logback.core.boolex.PropertyEqualityCondition" />

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <logger name="com.rockthejvm" level="DEBUG" />

    <condition class="PropertyEqualityCondition">
        <key>logfile</key>
        <value>true</value>
    </condition>
    <if>
        <then>
            <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
                <file>logs/app.log</file>
                <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
                    <!-- rollover daily -->
                    <fileNamePattern>logs/app-%d{yyyy-MM-dd}.%i.log</fileNamePattern>
                    <!-- each file should be at most 5MB, keep 30 days worth of history, but at most
                    20GB -->
                    <maxFileSize>500KB</maxFileSize>
                    <maxHistory>5</maxHistory>
                    <totalSizeCap>5MB</totalSizeCap>
                </rollingPolicy>
                <encoder>
                    <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
                </encoder>
            </appender>

            <root level="INFO">
                <appender-ref ref="FILE" />
                <appender-ref ref="STDOUT" />
            </root>
        </then>
        <else>
            <root level="INFO">
                <appender-ref ref="STDOUT" />
            </root>
        </else>
    </if>
</configuration>